[Unit]
Description=Promtail Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail.d/promtail.yaml
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
